<!DOCTYPE HTML> 
<html>
	<head>
		<title>RasyidUFA Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">M. Fahmi Rasyid</h1>
							<p>IT Researcher</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="index.html#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="index.html#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
								<li><a href="index.html#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
								<li><a href="index.html#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://www.twitter.com/rasyidufa" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="http://www.facebook.com/fahmi.ufa" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="http://RasyidUFA.github.io" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="http://instagram.com/mafaraz" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mailto://rasyid.ufasoft@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- BesutCode -->
					<section id="blog" class="two"> 
					  <div class="posts">
						{% for post in paginator.posts %}
						  <div class="post">
							<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
							  <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
							  <h3 class="h2 post-title">{{ post.title }}</h3>
							  <p class="post-summary" style="color: #5c5e6a;font-size: 17px;font-size: 1.2rem;margin-top: 23px;">{{ post.summary }}</p>
							  
							  <ul class="meta-tag-list" style="float: left;margin-top: -17px;">
								{% for tag in post.tags %}
								  <li class="meta-tag-item">
									<a href="#" style="font-size: 15px;font-weight: 300;">{{ tag }}</a>
								  </li>
								{% endfor %}
							  </ul>
							</a>
						  </div>
						{% endfor %} 
						</div>
					</section> 

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; 2016 UFASoft Technology. All rights reserved.</li> 
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollzer.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/form.js"/></script>
	</body>
</html>
